// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.form-check-input:checked {
    background-color: black;
    color: white;
    border: none;
    outline: none;
}

.form-check-input:active {
    outline: none;
}
