/*
 * Globals
 */


  
 @font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.ttf');
}
p {
  font-size: '20px';
}
div {
  font-size: '20px';
}

select{
  cursor: pointer;
}

*,*::before, *::after{
  box-sizing: inherit;
}

 html{
	box-sizing: border-box;
}

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  overflow-x: hidden;
  font-family: 'Inter' !important;
}

.header_cover{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: 7rem;
}

.header_menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  font-size: 22px;
  padding: 0 60px;
}

.nav-style{
  background: rgba(35, 34, 34, 0.6);
  border: 3px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding-left: 61px !important;
  padding-right: 115px;
  position: relative;
  display: flex;
  align-items: center;
  height: 64px;
  column-gap: 20px;
}

.nav-style a{
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.nav-style a:hover{
  color: #fff;
}

.nav-style::before{
  content: '';
  position: absolute;
  background-image: url('../img/menu-right.png');
  right: 25px;
  width: 63px;
  height: 44px;
}

.header_menu > h3 > img{
  width: 85px;
  margin-right: 15px;
}

.cover-container {
  max-width: 42em;
}

.btn-size{
  width: auto;
  height: 70px;
  font-size: 20px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-center{
  display: flex;
  justify-content: center;
}

.btn-center a{
  display: flex;
  align-items: center;
}

.header_cover h1{
  width: 60%;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: #fff;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .nav-link:hover {
  border-bottom-color: #fff;
}

.no-padding{
  padding: 0 !important;
}

.footer_header{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 150px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 127px;
  background: rgba(0, 0, 0, 0.4);
}

.text_footer{
  display: flex;
  column-gap: 13px;
  align-items: center;
}

.text_footer span{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #FFFFFF;
  width: 254px;
}

.search-document-block{
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.search-document-block h2{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
}

.search-document-block p{
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
  text-align: center;
  width: 1140px;
}

.search-document-block>.img-document{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 63.74px;
}

.search-document-block>.img-document img{
  width: 200px;
  /* position: absolute; */
  position: relative;
}

.search-document-block>.img-document>img:nth-of-type(2n){
  left: 50px;
  background-color: #333;
  z-index: 9999;
}


.footer{
	display: flex;
	justify-content: space-around;
    padding: 50px 0;
    background: #F2F4FA;
	align-items: center;
	height: 400px;
}
.title_footer{
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 77px;
	letter-spacing: -0.1em;
	color: #323543;
}
.description{
	width: 281px;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 170%;
	text-align: left;
	color: #686F81;
}
.info{
	padding-left: 129px;
	text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.mail_href{
	top:1px;
	vertical-align: text-top;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	text-decoration-line: underline;
	color: #323543;
	transition: color 0.5s ease-in-out;
}

.address{
	font-size: 15px;
	line-height: 170%;
	color: #686F81;
}

.social_network {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
}

.social_network>a{
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	text-transform: uppercase;
	color: #323543;
	transition: color 0.5s ease-in-out;
}

.social_network>a:hover{
	color: #0066FF;
}

.text7{
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 21px;
	display: flex;
	align-items: center;
}
.table{
	margin:20px;
}

.header_menu h3{
	width: 410px;
    display: flex;
	align-items: center;
}

.does-electronic-archive {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  column-gap: 3rem;
  flex-direction: column;
  row-gap: 3rem;
}

.does-container {
  display: flex;
  align-items: center;
  column-gap: 3rem;
}

.does_block{
	background: #FFCF87;
	border-radius: 15px;
    width: 567px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: flex-start;
	row-gap: 2rem;
	padding: 31px;
}

.does_block h4{
	font-style: normal;
	font-weight: 700;
	color: #323243;
}

.does_block p{
	font-style: normal;
	font-weight: 400;
	line-height: 170%;
	color: #251f1af7;
	text-align: left;
}

.does_block>a{
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	color: #4D3427;
	text-decoration: none;
	transition: color 0.5s ease-in-out;
}

.does_block>a:hover{
	color: #0066FF;
}